extends ./layout.jade
block poll
    div.page-header
        h1 #{poll.title}
    h2 by: 
        a(href='/poll/' + poll.user) #{poll.user}

    if items
        div(class="list-group")
            each item in items
                form(action='/item/' + item.id + '/vote', method="post")
                    if owner
                        a(href='/item/' + item.id + '/edit')
                            span(class="glyphicon glyphicon-pencil" aria-hidden="true")
                    - var but = "list-group-item btn-lg"
                    button(class=but) #{item.title}
                        span(class="badge") #{item.vote} votes

    -var add = '/poll/' + poll.user + '/' + poll.id + '/add'
    a(class="btn btn-primary", href=add) add item

block chart
