extends ./layout.jade
block poll
    div.page-header
        h1 #{poll.title}

    if items
        div(class="list-group")
            each item in items
                form(action='/item/' + item.id + '/vote', method="post")
                    - var but = "list-group-item btn-lg"
                    br
                    button(class=but) #{item.title}
                        span(class="badge") #{item.vote}

    if owner
        br
        - var edit = '/poll/' + poll.user + '/' + poll.id + '/edit'
        a(class="btn btn-primary", href=edit) edit poll
        |  
        - var del = '/poll/' + poll.user + '/' + poll.id + '/delete'
        a(class="btn btn-danger", href=del) delete poll

block chart
